body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 24px;
    margin-top: 48px;
}

ul {
    list-style: none;
}

button {
    padding: 12px 24px 12px 24px;
}

.card-container, .message-container {
    padding: 24px;
    margin: 12px;
    min-width: 192px;
}

.card-container {
    background-color: #bcf;
}

.message-container {
    background-color: #bfc;
}